beautifulsoup4==4.9.2
certifi==2020.6.20
chardet==3.0.4
colorama==0.3.7
decorator==4.4.2
distro==1.5.0
idna==2.10
orjson==3.4.0
protobuf==3.18.3
PyAudio==0.2.9
pyperclip==1.5.27
PySocks==1.7.1
requests==2.24.0
retrying==1.3.3
six==1.10.0
soupsieve==2.0.1
urllib3==1.26.5
